{{ define "main" }}
<header>
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.tagline }}</p>
</header>

<section>
    <ul>
        <li>Software Engineer from <a href="https://heig-vd.ch">HEIG-VD</a></li>
        <li>Personal page ← You are here</li>
        <li>Reach out on <a href="https://github.com/GuggisbergSimon">GitHub</a></li>
        <li>Find me on <a href="https://www.linkedin.com/in/simon-guggisberg-122366200">LinkedIn</a></li>
        <li>Play my games on <a href="https://strueux.itch.io">Itch</a></li>
        <li><a href="{{ "posts/introduction" | relURL }}">Read more about me</a></li>
    </ul>
</section>

<footer>
    <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
</footer>
{{ end }}
